In [8]:
import geopandas as gpd
import human_compactness_utils as hc_utils
import sys
import distance_matrix
import rvp_utils

In [9]:
state_name = 'georgia'
state_fips = '13'
DD_PATH = f'./20_intermediate_files/{state_fips}_{state_name}_tract_dds.json'
DM_PATH = f'./20_intermediate_files/{state_fips}_{state_name}_knn_sum_dd.dmx'
DURATION_DICT = hc_utils.read_tract_duration_json(DD_PATH)
SHAPEFILE_PATH = f'./Data_2000/Shapefiles/ga_2010_cds/ga_2010_cds.shp'
DEM_RVP_PATH = "RVPs/points_D_13_2_10000_run1.shp"
REP_RVP_PATH = "RVPs/points_R_13_2_10000_run1.shp"

In [44]:
PAIRWISE_DM_PATH = f'./20_intermediate_files/duration_matrix_{state_name}_{state_fips}.dmx'

In [10]:
print("Reading tract shapefile into memory...")
state_shp = gpd.read_file(SHAPEFILE_PATH)

Reading tract shapefile into memory...

In [12]:
GA_07 = state_shp[state_shp["CD"] == "07"]

,GEO_ID,STATE,CD,NAME,LSAD,CENSUSAREA,geometry
6,5001100US1307,13,07,7,CD,962.777,"POLYGON ((-84.16627 33.86737, -84.16236 33.871..."

In [20]:
rvps = rvp_utils.sample_rvps(DEM_RVP_PATH, REP_RVP_PATH, 14*1000)

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/pyproj/crs/crs.py:53: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))

In [38]:
test = rvps[5:]

In [43]:
test

       index   CID                    geometry party
5         18     3  POINT (-83.23131 31.27936)     R
6         23     3  POINT (-83.20657 31.23691)     D
7         28     3  POINT (-83.30861 31.20522)     D
8         36     3  POINT (-83.25348 31.24455)     R
9         41     3  POINT (-83.27933 31.23734)     D
...      ...   ...                         ...   ...
13995  77703  2961  POINT (-85.01970 34.78487)     R
13996  77705  2961  POINT (-85.07395 34.77271)     R
13997  77710  2961  POINT (-85.05760 34.80097)     R
13998  77712  2961  POINT (-85.04968 34.79123)     R
13999  77724  2962  POINT (-84.97755 34.76689)     R

[13995 rows x 4 columns]

In [39]:
for i in range(len(test)):
    print(test.iloc[i].name)
    break

5

In [17]:
rvps

       index   CID                    geometry party
0          2     1  POINT (-82.83833 31.29396)     R
1         10     2  POINT (-84.52502 31.24987)     R
2         12     2  POINT (-84.50312 31.22851)     D
3         17     3  POINT (-83.29147 31.14961)     R
4         17     3  POINT (-83.26052 31.23259)     D
...      ...   ...                         ...   ...
13995  77703  2961  POINT (-85.01970 34.78487)     R
13996  77705  2961  POINT (-85.07395 34.77271)     R
13997  77710  2961  POINT (-85.05760 34.80097)     R
13998  77712  2961  POINT (-85.04968 34.79123)     R
13999  77724  2962  POINT (-84.97755 34.76689)     R

[14000 rows x 4 columns]

In [5]:
rvps_in_region = rvp_utils.find_rvps_in_region(SHAPEFILE_PATH, rvps)

ImportError: Spatial indexes require either `rtree` or `pygeos`. See installation instructions at https://geopandas.org/install.html

In [29]:
state_shp.columns

Index(['GEO_ID', 'STATE', 'CD', 'NAME', 'LSAD', 'CENSUSAREA', 'geometry'], dtype='object')

In [33]:
state_shp

,GEO_ID,STATE,CD,NAME,LSAD,CENSUSAREA,geometry
0,5001100US1301,13,01,1,CD,11223.403,"POLYGON ((-81.53053 30.72286, -81.53278 30.721..."
1,5001100US1302,13,02,2,CD,10813.138,"POLYGON ((-85.12848 31.87741, -85.12843 31.877..."
2,5001100US1303,13,03,3,CD,4098.335,"POLYGON ((-85.28456 33.37947, -85.29390 33.428..."
3,5001100US1304,13,04,4,CD,328.484,"POLYGON ((-84.16236 33.87100, -84.16627 33.867..."
4,5001100US1305,13,05,5,CD,245.073,"POLYGON ((-84.27452 33.83398, -84.27230 33.833..."
5,5001100US1306,13,06,6,CD,677.116,"POLYGON ((-84.17980 34.00809, -84.18049 34.004..."
6,5001100US1307,13,07,7,CD,962.777,"POLYGON ((-84.16627 33.86737, -84.16236 33.871..."
7,5001100US1308,13,08,8,CD,7131.704,"POLYGON ((-83.98865 33.58775, -83.97492 33.602..."
8,5001100US1309,13,09,9,CD,4328.876,"POLYGON ((-85.51420 34.98356, -85.46671 34.982..."
9,5001100US1310,13,10,10,CD,5851.052,"POLYGON ((-81.97364 33.48266, -81.97354 33.482..."
10,5001100US1311,13,11,11,CD,2688.263,"POLYGON ((-85.36184 33.77394, -85.36184 33.773..."
11,5001100US1312,13,12,12,CD,8595.065,"POLYGON ((-81.93795 33.34968, -81.93984 33.347..."
12,5001100US1313,13,13,13,CD,570.200,"POLYGON ((-84.34981 33.66384, -84.34980 33.664..."

In [8]:
print("Reading KNN duration matrix file into memory...")
DMX = distance_matrix.read_duration_matrix_from_file(DM_PATH)

Reading KNN duration matrix file into memory...

In [27]:
len(DMX[0])

3000

In [25]:
DMX[0][:5]

[0.0, 98.3, 741.5, 1458.2, 2261.9]